terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
group_vars/servers/servers.yml
host.ini
terraform/clouds.yml
clouds.yaml
*.kubeconfig