---
k8s_bootstrap_version: 1.33

kubernetes_version: v1.33.3
capi_image_name: rocky-9-containerd-v1.33.3

clusterctl_version: v1.10.4
clusterctl_provider_version: v0.12.4

cluster_name: CLUSTER_NAME
cluster_namespace: default

cluster_network: NeSI_RDC_PROJECT_NAME

network_id: 05669c0e-d973-41f2-bff4-d8568bb2a711
router_id: dfbd2804-6908-41b1-b05e-aeae26585c9a

openstack_ssh_key: NeSI_RDC_KEYPAIR_NAME

cluster_control_plane_count: 1
control_plane_flavor: balanced1.2cpu4ram

cluster_worker_count: 2
worker_flavour: balanced1.2cpu4ram

cluster_node_cidr: 10.30.0.0/24

cluster_pod_cidr: 172.16.0.0/16

bin_dir: /usr/local/bin

clouds_yaml_local_location: ~/.config/openstack/clouds.yaml

capi_managed_secgroups: false

yaml_openstack_cloud: openstack

cloud_provider_openstack_version: 1.33

source_ips:
  - 163.7.144.0/21
  - "{{ cluster_node_cidr }}"


## Backup Settings

enable_backup: false

velero_version: v1.16.2

velero_bucket_name: "OPENSTACK_BUCKET_NAME"


## Monitroing settings

enable_monitoring: false

mimir_domain: "MIMIR_DOMAIN"
loki_domain: "LOKI_DOMAIN"

monitoring_username: someuser
monitoring_password: supersecretpassword

kube_prometheus_version: release-0.14

## Variables for OpenID Connect Configuration https://kubernetes.io/docs/admin/authentication/
## To use OpenID you have to deploy additional an OpenID Provider (e.g Dex, Keycloak, ...)

kube_oidc_auth: false
kube_oidc_hostname: ood-idp.training.data.nesi.org.nz
kube_oidc_url: https://{{ kube_oidc_hostname }}/realms/admin
kube_oidc_client_id: kubernetes
## Optional settings for OIDC
kube_oidc_username_claim: preferred_username
kube_oidc_groups_claim: groups

# variables are talos, plain
capi_deployment: plain

talos_version: 1.11.2
talos_openstack_image: talos-v{{ talos_version }}