# Values for environment variable substitution
OPENSTACK_CLOUD: openstack
OPENSTACK_CLOUD_YAML_B64: {{ base64_cloud_yaml.stdout }}
OPENSTACK_CLOUD_CACERT_B64: {{ base64_ca_cert.stdout }}
KUBERNETES_VERSION: "{{ kubernetes_version }}"
OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR: "{{ control_plane_flavor }}"
OPENSTACK_DNS_NAMESERVERS: 130.216.1.1
OPENSTACK_EXTERNAL_NETWORK_ID: 33d0c11b-b659-4b77-9afc-5676fe965839
OPENSTACK_FAILURE_DOMAIN: nova
OPENSTACK_IMAGE_NAME: "{{ capi_image_name }}"
OPENSTACK_NODE_MACHINE_FLAVOR: "{{ worker_flavour }}"
OPENSTACK_SSH_KEY_NAME: "{{ openstack_ssh_key }}"
CLUSTER_NAMESPACE: "{{ cluster_namespace }}"
CLUSTER_NAME: "{{ cluster_name }}"
CONTROL_PLANE_MACHINE_COUNT: "{{ cluster_control_plane_count }}"
WORKER_MACHINE_COUNT: "{{ cluster_worker_count }}"
CLUSTER_NODE_CIDR: "{{ cluster_node_cidr }}"
CLUSTER_POD_CIDR: "{{ cluster_pod_cidr }}"
CLUSTER_NETWORK: "{{ cluster_network }}"