apiVersion: v1
data:
  cacert: {{ base64_ca_cert.stdout }}
  clouds.yaml: {{ base64_cloud_yaml.stdout }}
kind: Secret
metadata:
  labels:
    clusterctl.cluster.x-k8s.io/move: "true"
  name: {{ cluster_name }}-cloud-config
  namespace: {{ cluster_namespace }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ cluster_name }}-control-plane
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      flavor: {{ control_plane_flavor }}
      image:
        filter:
          name: {{ talos_openstack_image }}
      securityGroups:
      - filter:
          name: default
      - filter:
          name: k8s-cluster-{{ cluster_namespace }}-{{ cluster_name }}-secgroup-controlplane
      ports:
      - network:
          filter:
            name: {{ cluster_network }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackMachineTemplate
metadata:
  name: {{ cluster_name }}-md-0
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      flavor: {{ worker_flavour }}
      image:
        filter:
          name: {{ talos_openstack_image }}
      securityGroups:
      - filter:
          name: default
      - filter:
          name: k8s-cluster-{{ cluster_namespace }}-{{ cluster_name }}-secgroup-worker
      ports:
      - network:
          filter:
            name: {{ cluster_network }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: {{ cluster_name }}-md-0
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      generateType: worker
      talosVersion: {{ talos_version }}
      configPatches:
      - op: add
        path: /cluster/externalCloudProvider
        value:
          enabled: true
---

apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: {{ cluster_name }}-md-0
  namespace: {{ cluster_namespace }}
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ cluster_worker_count }}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
          kind: TalosConfigTemplate
          name: {{ cluster_name }}-md-0
      clusterName: {{ cluster_name }}
      failureDomain: nova
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: OpenStackMachineTemplate
        name: {{ cluster_name }}-md-0
      version: {{ kubernetes_version }}

---
apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
kind: TalosControlPlane
metadata:
  name: {{ cluster_name }}-control-plane
  namespace: {{ cluster_namespace }}
spec:
  infrastructureTemplate:
    kind: OpenStackMachineTemplate
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    name: {{ cluster_name }}-control-plane
    namespace: {{ cluster_namespace }}
  replicas: {{ cluster_control_plane_count }}
  version: {{ kubernetes_version }}
  controlPlaneConfig:
    controlplane:
      generateType: controlplane
      talosVersion: {{ talos_version }}
      configPatches:
      - op: add
        path: /cluster/externalCloudProvider
        value:
          enabled: true
          manifests:
              - https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/release-{{ cloud_provider_openstack_version }}/manifests/controller-manager/cloud-controller-manager-roles.yaml
              - https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/release-{{ cloud_provider_openstack_version }}/manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
              - https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/release-{{ cloud_provider_openstack_version }}/manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml

      - op: add
        path: /cluster/network/cni
        value:
          name: custom
          urls:
              - https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/calico.yaml
      - op: add
        path: /cluster/inlineManifests
        value:
          - name: talos-bootstrap-csr
            contents: |
              ---
              apiVersion: rbac.authorization.k8s.io/v1
              kind: ClusterRoleBinding
              metadata:
                name: talos-bootstrap-csr
              subjects:
                - kind: User
                  name: system:bootstrap:*  # Grants permissions to all bootstrap tokens
              roleRef:
                kind: ClusterRole
                name: system:certificates.k8s.io:certificatesigningrequests:nodeclient
                apiGroup: rbac.authorization.k8s.io
{% if enable_oidc_auth %}
      - op: add
        path: /cluster/apiServer/extraArgs
        value:
          oidc-issuer-url: "{{ kube_oidc_url }}"
          oidc-client-id: "{{ kube_oidc_client_id }}"
          oidc-username-claim: "{{ kube_oidc_username_claim }}"
          oidc-groups-claim: "{{ kube_oidc_groups_claim }}"
{% endif %}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
  labels:
    cloud: openstack
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{ cluster_pod_cidr }}
    serviceDomain: cluster.local
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
    kind: TalosControlPlane
    name: {{ cluster_name }}-control-plane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: OpenStackCluster
    name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: OpenStackCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
spec:
  apiServerLoadBalancer:
    enabled: true
    provider: ovn
  externalNetwork:
    id: 3f405cc9-28a3-4973-b5a1-7f50f112e5d5
  network:
    filter:
      name: {{ cluster_network }}
  router: 
    filter:
      name: {{ cluster_network }}
  identityRef:
    cloudName: openstack
    name: {{ cluster_name }}-cloud-config
